/**********************************
 *   CSS für die Übungsaufgabe    *
 **********************************/

/* Aufgabe 1 */
html {
	font-family: sans-serif;
	color: black;
	max-width: 65em;
}

/* Aufgabe 2 */
aside, article {
	background-color: lightyellow;
	border: solid 1px;
	margin: 1em 1em;
}

/* Aufgabe 3 */
#logo {
	max-width: 10%;
	max-height: auto;
	margin-bottom: 30px;
	display: block;
	margin-right: auto;
	margin-left: auto;
}

body header h1 {
	text-align: center;
}

/* Aufgabe 4 */
body article p img {
	max-width: 33%;
	max-height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
	float: right;
	padding: 0.5em;
}

.f73-absatz {
	text-align: left;
	float: right;
}
#f73 {
	font-weight: bold;
	color: red;
}

/* Aufgabe 5 */
#navBar {
	border-style: solid;
	border-width: 2px;
	border-color: #999;
	background-color: #daffb3;
	display: flex;
	justify-content: space-around;
	text-align: center;
}

#navBar a {
	padding: 10px;
}

#navBar a:hover {
	background-color: #b5ff66;
	color: #2a9;
}

/* Aufgabe 6 */
body > header {
	border-style: solid;
	border-width: 5px;
	border-color: black;
	background-color: #bbb;
}

/* Aufgabe 7 */
footer {
	border-style: solid none none none;
	border-width: 1px;
}
footer a {
	text-align: left;
}
.copyright {
	text-align: right;
}

/* Aufgabe 8 */
body {
	display: flex;
	flex-wrap: wrap;
}
header {
	order: 1;
	width: 100%;
}
aside {
	order: 2;
	width: 15%
}
article {
	order: 3;
	width: calc(85% - 4em - 4px);
}
footer {
	order: 4;
	width: 100%;
}

/* Aufgabe 9 */
figure {
	display: inline-block;
	margin: 0.2em;
	width: 32%;
	font-style: italic;
}
figure > img{
	width: 100%;
}
